body{
    background-color: #8b8989;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex; */
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.container{
    text-align: center;
}
h1{
    font-size: 45px;
}

input , button {
    padding: 10px;  
    margin: 10px;
    border-radius: 5px;

}